
.background{
    color: #ffffff;
    padding: 10;
    flood-color: #ffffff;
    border-color: #ffffff;
    background-color :#ffffff
}

.Fonts{
    font-family:fantasy;
    color: #000000;
    font-size:medium;
    text-align: left;
}

.Form{
    text-indent: 50px;
    padding-bottom: 10px;
}
